.wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

#datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  max-height: 40px;
  display: block;
  outline: none;
  padding-left: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#datetime-picker:hover {
  border-color: #000;
}

#datetime-picker:focus,
#datetime-picker:active {
  border-color: #4e75ff;
  color: #000;
}

.btn {
  border-radius: 8px;
  border-color: transparent;
  padding: 8px 16px;
  min-width: 75px;
  height: 40px;
  background: #4e75ff;
  display: block;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn:hover:not(:disabled) {
  background: #6c8cff;
}

.btn:disabled {
  background: #cfcfcf;
  cursor: not-allowed;
  color: #989898;
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 55px;
  height: 72px;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}
